@using ponto_digital_SENAI.Models; 
@using System.Collections.Generic;


@{
    ViewData["TituloPag"] = "Depoimentos";
    var contador = 0;
}

<div class="conteudo">
<table>

    <thead style="margin: 2em">
        <th>ID</th>
        <th>Nome</th>
        <th>Comentário</th>
        <th>Avaliação</th>
        <th>Aprovar</th>
        <th>Reprovar</th>
    </thead>
    <tbody>
            @foreach(var item in ViewData["depoimentos"] as List<Depoimento>){
                @if(!item.Equals(null) && item.Status == 'e'){
                <tr>    
                    <td>@item.ID</td>
                    <td>@item.NomeUsuario</td>
                    <td>@item.Conteudo</td>
                    <td>@item.Nota</td>
                    <td><a href='@Url.Action("AprovarDepoimento", "Dashboard")?id=@item.ID' style="background-color:blue; color:black">X</a> </td>
                    <td><a href='@Url.Action("ReprovarDepoimento", "Dashboard")?id=@item.ID'style="background-color:red; color:black">X</a> </td>
                </tr>
                contador++;
                }
                
            }
    </tbody>
</table>

    @if(contador == 0){
                    <h4 style="text-align:center; padding:2em; font-size:2em"> NENHUM DEPOIMENTO PENDENTE </h4>
                    contador++;
                }

</div>