@using ponto_digital_SENAI.Models; 
@using System.Collections.Generic;

@{
    ViewData["TituloPag"] = "Listar Usuarios";
}

<h3>Admins</h3>
<table> 
    <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Senha</th>
        <th>Data de nascimento</th>
        <th>Remover</th>
        <th>Retirar admin</th>
    </thead>
    <tbody>
            @foreach(var item in ViewData["admins"] as List<Usuario>){
                if(!item.Equals(null)){
                <tr>    
                    <td>@item.ID</td>
                    <td>@item.Nome</td>
                    <td>@item.Email</td>
                    <td>@item.Senha</td>
                    <td>@item.DataNascimento.ToShortDateString()</td>
                    <td><a href="ApagarAdmin/?email=@item.ID" style="background-color:red; color:black">X</a> </td>
                    <td><a asp-controller="Dashboard" asp-action="RemoverAdm" style="background-color:yellow; color:black">X</a> </td>
                </tr>
                }
            }
    </tbody>
</table>

<h3>Usuarios</h3>
<table> 
    <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Senha</th>
        <th>Data de nascimento</th>
        <th>Remover</th>
        <th>Tornar admin</th>
        
    </thead>
    <tbody>
            @foreach(var item in ViewData["usuarios"] as List<Usuario>){
        <tr>
            <td>@item.ID</td>
            <td>@item.Nome</td>
            <td>@item.Email</td>
            <td>@item.Senha</td>
            <td>@item.DataNascimento.ToShortDateString()</td>
            <td><a href="ApagarUsuario/?id=@item.ID" style="background-color:red; color:black">X</a> </td>            
            <td><a asp-controller="Dashboard" asp-action="TornarAdmin" style="background-color:yellow; color:black">X</a> </td>
        </tr>
                }
    </tbody>
</table>