@using ponto_digital_SENAI.Models; 
@using System.Collections.Generic;

@{
ViewData["TituloPag"] = "Avaliacoes";
var user = (Usuario) ViewData["usuario"];
var avaliacoes = ViewData["avaliacoes"];
}
<div class="conteudo">
    
<h2>Deixe sua avaliação do produto</h2>
<div class="flex" style="justify-content:space-around;">
    <div id="enviar">
        <form action="RetornarAvaliacao" method="POST">
            <div class="rating">
                <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
                <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
            </div>

            <br>
                @if(user == null){
                <input type="text" name="nome" id="nome_avaliacao" placeholder="Nome">
                } else{
                <input type="text" name="nome" id="nome_avaliacao" value="@user.Nome" > 
                }
                <br />
                <textarea name="comentario" id="textarea1" cols="40" rows="20" placeholder="Deixe seu comentário"></textarea>
                <br />
                @if(user != null){
                    <input id="enviar" type="submit" value="►" onclick='alert("Depoimento enviado!")'>
                }else{
                    <a href='@Url.Action("Login","Cadastro")' id="enviar" onclick='alert("Login necessário!")' style="padding:0.3em; background-color:gray">ENVIAR ►</a>
                }
        </form> 
    </div>
        @foreach(var item in avaliacoes as List<Depoimento>){
    <div id="avaliacoesAprovadas"> 
            @if(item.Status == 'a'){
            <h3>@item.NomeUsuario</h3>
            <p>@item.Nota / 5</p>
            <p>@item.Conteudo</p>
        }
    </div>
        }
</div>
</div>