@using ponto_digital_SENAI.Models; 
@using System.Collections.Generic;

@{
ViewData["TituloPag"] = "Pacotes";
var user = ViewData["Usuario"];
}
<section class="introd">
    <h2>Pacotes</h2>
    <p> A  A empresa digital de e-commerce Ponto Digital possui diversos planos acessíveis, Lorem ipsum, dolor
                sit amet consectetur adipisicing elit. Minus laborum vero sapiente incidunt a. Iusto
                odit dolore necessitatibus.Ppellendus dicta officia nulla cum impedit iure architecto
                dolore soluta provident, fazendo com que os clientes fiquem satisfeitos!!  A empresa digital de 
                e-commerce Ponto Digital possui diversos planos acessíveis.s!</p>
</section>
<section class="lista_pacotes">
    <div class="conj_box flex">
        @foreach(var item in ViewData["pacotes"] as List<Pacote>){
        <div class="pac_box">
            
            <h3>@item.Titulo</h3>
            
                @if(item.QuantFuncionarios > 500){
                    <ul>
                    <h4>Valor a definir</h4>
                    <li>
                        <p>Quantidade de funcionarios a definir</p>
                    </li>
                    </ul>
                }else{

            <h4>R$@item.Preco</h4>
            <ul>
                @if(item.ID == 0){
                
                <li>
                    <p>Período de teste: 1 mês</p>
                </li>
                <li>
                    <p>-Tempo de suporte em até @item.TempoSuporte horas!</p>
                </li>

                }else{
                <li>
                    <p>Quantidade de funcionarios @item.QuantFuncionarios</p>
                </li>
                <li>
                    <p>-Tempo de suporte em até @item.TempoSuporte horas!</p>
                </li>
                }
            </ul>

                }
            @if(user != null){
            <a class="comprar" onclick='alert(" Compra solicitada")'>Comprar</a>
            }else{
            <a href='@Url.Action("Login","Cadastro")' class="comprar" onclick='alert("Login necessário")'>Comprar</a>
            }
            </div>
                }
        </div>
</section>